#################################################
# Python
#################################################

__pycache__/
*.py[cod]
*.so

.venv/
venv/
.env

.ipynb_checkpoints/

#################################################
# VS Code
#################################################

.vscode/

#################################################
# Dados
#################################################

*.csv
*.npy
*.npz
*.png
*.jpg
*.jpeg
*.tif
*.tiff
*.zip
*.tar
*.gz

#################################################
# Pastas grandes do projeto
#################################################

cov739/bndo/amostras_ctd/
cov739/bndo/dados_ctd_bndo/
cov739/bndo/resultados_ctd/

#################################################
# Logs
#################################################

*.log

#################################################
# Sistema
#################################################

.DS_Store
Thumbs.db
